<footer class="site-footer">
    <div class="container footer-container">
      <p>
        © <span id="current-year"></span> MIDIverse Technologies. All Rights Reserved.
      </p>
      <div class="footer-links">
        <a href="/privacypolicy">Privacy Policy</a> | <a href="/termsofservice">Terms of Service</a> 
      </div>
    </div>
  </footer>