<header class="site-header">
    <div class="container header-container">
      <div class="logo">
        <a href="/"
          ><img
            src="midiverselogo.png"
            width="200px"
            height="50%"
            alt=""
          /></a
        >
        <!-- Texto simple o logo img -->
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li> 
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div>
        <a href="#products" class="cta-button header-cta">Explore Now</a>
      </div>

      <!-- Podrías añadir un botón de menú hamburguesa para móviles aquí -->
    </div>
  </header>